<div class="card border-1 my-4 ml-1" style="width: 18rem;">
    <div class=" d-flex justify-content-center my-2">
        <img class="card-img-top rounded-circle w-200 mt-5"
            src="https://www.cnm.org.br/cms/images/stories/comunicacao_novo/internacional/05042018_Epsy_Campbell_Barr.jpg" 
            alt="Imagem de capa do card">
    </div>
    <div class="card-body">
        <h5 class="card-title text-center" id="nome">{{user}}</h5>
    </div>
    <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action font-weight-bold text-white" routerLink="/feed">JOBSTER</a>
        <a class="list-group-item list-group-item-action font-weight-bold " routerLink="/meu-perfil">Meu Perfil</a>
        <a class="list-group-item list-group-item-action font-weight-bold" href="/pesquisa">Pesquisar</a>
    </div>
</div>