<div>
    <app-navbar></app-navbar>
</div>

<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <app-perfil-lateral></app-perfil-lateral>
            </div>
            <!--CAROUSEL ITEM 1-->
            <div class="col-md-8 my-4 d-flex justify-content-center">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-sm-8">
                            <div id="id" class="carousel slide" data-ride="carousel" data-interval="0">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12 d-flex justify-content-center align-items-center">
                                                    <div class="card" style="width: 300px; margin:auto;">
                                                        <div class="card-header">
                                                            <h5 class="text-light">GENERATION BRASIL</h5>
                                                        </div>
                                                        <img src="https://wordpress.kondzilla.fluentcontent.com.br/app/uploads/2019/04/generation-brasil--e1560279908166.png"
                                                            width="80px" height="280px" class="card-img-top">
                                                        <div class="card-body">
                                                            <h5 class="card-title">INSTRUTOR JAVA</h5>
                                                            <p class="card-text">Vaga PJ para instrutor Java. Disponibilidade para trabalho remoto e experiência com videoaulas.
                                                            </p>
                                                            <div class="card-footer">
                                                                <div class="icons-x mt-3 mr-2">
                                                                    <fa-icon [icon]="faTimes" class="faTimes fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                                <div class="icon-hands mb-2">
                                                                    <fa-icon [icon]="faHandsHelping"
                                                                        class="faHandsHelping fa-2x"></fa-icon>
                                                                </div>
                                                                <div class="icon-check mt-3 mr-2">
                                                                    <fa-icon [icon]="faCheck" class="faCheck fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--CAROUSEL ITEM 2-->
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card" style="width: 300px; margin:auto;">
                                                        <div class="card-header">
                                                            <h5 class="text-light">ITAÚ</h5>
                                                        </div>
                                                        <img src="https://escolaliteral.com.br/wp-content/uploads/2018/05/itau-logo.jpg"
                                                            width="80px" height="300px" class="card-img-top">
                                                        <div class="card-body">
                                                            <h5 class="card-title">DESENVOLVEDOR JAVA JR.</h5>
                                                            <p class="card-text">Vaga CLT para desenvolvedor Java
                                                                Full-Stack. Disponibilidade para trabalho remoto e
                                                                inicio imediato.</p>
                                                            <div class="card-footer">
                                                                <div class="icons-x mt-3 mr-2">
                                                                    <fa-icon [icon]="faTimes" class="faTimes fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                                <div class="icon-hands mb-2">
                                                                    <fa-icon [icon]="faHandsHelping"
                                                                        class="faHandsHelping fa-2x"></fa-icon>
                                                                </div>
                                                                <div class="icon-check mt-3 mr-2">
                                                                    <fa-icon [icon]="faCheck" class="faCheck fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!--CAROUSEL ITEM 3-->
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card" style="width: 300px; margin:auto;">
                                                        <div class="card-header">
                                                            <h5 class="text-light">MERCADO LIVRE </h5>
                                                        </div>
                                                        <img src="https://f.i.uol.com.br/fotografia/2020/03/17/15844843305e714feab8e1d_1584484330_1x1_md.jpg"
                                                            width="80px" height="300px" class="card-img-top">
                                                        <div class="card-body">
                                                            <h5 class="card-title">EXECUTIVO COMERCIAL</h5>
                                                            <p class="card-text">Realizar a gestão direta do canal de prospecção das maiores indústrias e dos principais varejos e distribuidores da categoria de supermercado no Brasil.</p>
                                                            <div class="card-footer">
                                                                <div class="icons-x mt-3 mr-2">
                                                                    <fa-icon [icon]="faTimes" class="faTimes fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                                <div class="icon-hands mb-2">
                                                                    <fa-icon [icon]="faHandsHelping"
                                                                        class="faHandsHelping fa-2x"></fa-icon>
                                                                </div>
                                                                <div class="icon-check mt-3 mr-2">
                                                                    <fa-icon [icon]="faCheck" class="faCheck fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--CAROUSEL ITEM 4-->
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card" style="width: 300px; margin:auto;">
                                                        <div class="card-header">
                                                            <h5 class="text-light">SUMUP</h5>
                                                        </div>
                                                        <img src="https://www.vendus.com/mz/foto/1200x630-f2_og.png"
                                                            width="120px" height="280px" class="card-img-top">
                                                        <div class="card-body">
                                                            <h5 class="card-title">RECRUTADOR TÉCNICO</h5>
                                                            <p class="card-text">Vaga para recrutador técnico. Responsável por avaliação técnica e comportamental de candidatos, garantindo a melhor experiência em nossos processos seletivos.</p>
                                                            <div class="card-footer">
                                                                <div class="icons-x mt-3 mr-2">
                                                                    <fa-icon [icon]="faTimes" class="faTimes fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                                <div class="icon-hands mb-2">
                                                                    <fa-icon [icon]="faHandsHelping"
                                                                        class="faHandsHelping fa-2x"></fa-icon>
                                                                </div>
                                                                <div class="icon-check mt-3 mr-2">
                                                                    <fa-icon [icon]="faCheck" class="faCheck fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--CAROUSEL ITEM 5-->
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card" style="width: 300px; margin:auto;">
                                                        <div class="card-header">
                                                            <h5 class="text-light">SKORE</h5>
                                                        </div>
                                                        <img src="https://img.ibxk.com.br/2017/03/03/03175401083340.jpg"
                                                            width="80px" height="300px" class="card-img-top">
                                                        <div class="card-body">
                                                            <h5 class="card-title">PESSOA DESENVOLVEDORA JAVA JR.</h5>
                                                            <p class="card-text">Vaga CLT para pessoa desenvolvedora Java
                                                                Full-Stack. Nivel: Pleno. Disponibilidade para trabalho remoto e
                                                                inicio imediato.</p>
                                                            <div class="card-footer">
                                                                <div class="icons-x mt-3 mr-2">
                                                                    <fa-icon [icon]="faTimes" class="faTimes fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                                <div class="icon-hands mb-2">
                                                                    <fa-icon [icon]="faHandsHelping"
                                                                        class="faHandsHelping fa-2x"></fa-icon>
                                                                </div>
                                                                <div class="icon-check mt-3 mr-2">
                                                                    <fa-icon [icon]="faCheck" class="faCheck fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                       <!--CAROUSEL ITEM 6-->
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card" style="width: 300px; margin:auto;">
                                                        <div class="card-header">
                                                            <h5 class="text-light">THOUGHTWORKS.</h5>
                                                        </div>
                                                        <img src="https://media.glassdoor.com/sqll/38334/thoughtworks-squarelogo-1554205565192.png"
                                                            width="120px" height="280px" class="card-img-top">
                                                        <div class="card-body">
                                                            <h5 class="card-title">PESSOA DESENVOLVEDORA MOBILE</h5>
                                                            <p class="card-text">Pessoa Desenvolvedora Mobile React Native para trabalhar em projetos desafiadores, entregando a melhor solução para os objetivos de clientes. </p>
                                                            <div class="card-footer">
                                                                <div class="icons-x mt-3 mr-2">
                                                                    <fa-icon [icon]="faTimes" class="faTimes fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                                <div class="icon-hands mb-2">
                                                                    <fa-icon [icon]="faHandsHelping"
                                                                        class="faHandsHelping fa-2x"></fa-icon>
                                                                </div>
                                                                <div class="icon-check mt-3 mr-2">
                                                                    <fa-icon [icon]="faCheck" class="faCheck fa-2x">
                                                                    </fa-icon>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 
                                  

                                    <a class="bg-transparent carousel-control-prev" href="#id" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                    <a class=" bg-transparent carousel-control-next" href="#id" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Próximo</span>
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-footer></app-footer>
</div>