.navbar {
    background-color: #ff8800;
}

.botoes {
    height: 35px;
    width: 90px;
}

.parallax {
    background-image: url('./assets/jobster1.png');
    min-height: 481px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}